.App {
	text-align: center;
}

/* Global */
a {
	text-decoration: none;
}

a:visited {
	color: black;
}

/* NAVBAR */
nav {
	background-color: #04aa6d;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 15vh;
	text-transform: uppercase;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

nav a {
	font-size: 1rem;
}

nav a:hover {
	border-bottom: 2px solid black;
	color: white;
}

/* I N D E X -- table */
table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 50%;
}

td,
th {
	border-bottom: 1px solid #ddd;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #fff;
}

tr:hover {
	background-color: #ddd;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04aa6d;
	color: white;
}

/* N E W -from */
.New {
	border: 1px solid #000;
	margin: 10px;
	width: 100%;
}

.New form {
	margin: 10px;
	width: 95%;
}

form label {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	font-weight: bold;
	margin: 20px;
}

input[type] {
	display: block;
	width: 90%;
	margin: 10px;
	padding: 10px;
	background: #f1f1f1;
	border: 1px solid grey;
}

.submit-btn {
	background-color: #04aa6d;
	color: white;
	/* padding: 16px 20px; */
	/* margin: 8px 0; */
	border: none;
	cursor: pointer;
	width: 30%;
	height: 40px;
	opacity: 0.9;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.trns-btns {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

button {
	background-color: #04aa6d;
	border-radius: 5px;
	border: none;
	height: 30px;
	padding: 5px 15px;
	font-size: 16px;
	margin-top: 10px;
}

button:hover {
	color: #fff;
	cursor: pointer;
}
